<th:block xmlns:th="http://www.thymeleaf.org"
        th:fragment="footerFragment">

    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-1">&copy; Copyright Bonjin. All Rights Reserved</p>
                    <div class="credits">
                        Designed by
                        <a href="https://bonjin.co.kr">Bonjin</a>
                    </div>
                </div>
                <div class="col-sm-6 social text-md-right">
                    <a href="#">
                        <span class="icofont-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="icofont-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="icofont-dribbble"></span>
                    </a>
                    <a href="#">
                        <span class="icofont-behance"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</th:block>

