<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content, script)">

    <head>
        <!-- head -->
        <th:block th:replace="layout/head :: head"></th:block>

        <!-- title -->
        <title th:replace="${title}">Portfolio</title>

        <!-- script -->
        <th:block th:replace="${script}"></th:block>
    </head>

    <body>
        <!-- Header -->
        <th:block th:replace="layout/header :: headerFragment"></th:block>

        <!-- Body -->
        <th:block th:replace="${content}"></th:block>

        <!-- Footer -->
        <th:block th:replace="layout/footer :: footerFragment"></th:block>

    </body>
</html>