<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layout/layout :: layout(_, ~{:: #content}, _)}">

    <th:block id="content">
        <main id="main">
            <div class="site-section">
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">500</h1>
                        <div class="inline-block align-middle">
                            <h2 class="font-weight-normal lead" id="desc">An error occurred on the server. Please try again.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </th:block>

</th:block>