<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layout/layout :: layout(_, ~{:: #content}, _)}">

  <th:block id="content">

  <main id="main">

    <div class="site-section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
            <p class="mb-0">I am a web & app developer. We actively solve problems.</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <h3 class="h3 mb-4">Skills</h3>
            <ul class="list-unstyled">
              <!-- Skill -->
              <li th:each="skill: ${skills}" class="mb-3">
                <div class="d-flex mb-1">
                  <strong th:text="${skill.title}"></strong>
                  <span class="ml-auto">[[${skill.progress}]]%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" th:style="'width: '+ ${skill.progress} +'%'" th:aria-valuenow="${skill.progress}" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </li>
              <!-- Skill -->
            </ul>
          </div>

          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            <p><img th:src="${member.image}" alt="Image" class="img-fluid"></p>
            <p></p>
          </div>

        </div>

      </div>
    </div>

  </main>

  </th:block>
</th:block>
