<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layout/layout :: layout(_, ~{:: #content}, _)}">

  <th:block id="content">

  <main id="main">

    <div class="site-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2>My Services</h2>
            <p>We have made great service through various technologies.</p>
          </div>
        </div>
      </div>

      <div class="site-section pb-0">
        <div class="container">

          <div class="row">

            <!-- START SERVICE -->
            <div th:each="s: ${services}" class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <span class="la la-3x mb-4" th:classappend="${s.icon}"></span>
              <h4 class="h4 mb-2" th:text="${s.title}"></h4>
              <p th:text="${s.content}"></p>
              <ul class="list-unstyled list-line">
                <li th:each="item: ${s.items}" th:text="${item}"></li>
              </ul>
            </div>
            <!-- END SERVICE -->

          </div>
        </div>
      </div>


      <!-- START REPLY -->
      <div class="site-section">
        <div class="container">

          <div class="owl-carousel testimonial-carousel">

            <div th:each="reply: ${replies}" class="testimonial-wrap">
              <div class="testimonial">
                <img th:src="${reply.image}" alt="Image" class="img-fluid">
                <blockquote>
                  <p th:text="${reply.content}"></p>
                </blockquote>
                <p th:text="${reply.name}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END REPLY -->
    </div>
  </main>

  </th:block>

</th:block>
