<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layout/layout :: layout(_, ~{:: #content}, _)}">

  <th:block id="content">

  <main id="main">

    <div class="site-section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Hey, We are Bonjin Team</h2>
            <p class="mb-0">Professional web &amp; app developer</p>
          </div>
          <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".web">Web</a>
              <a href="#" data-filter=".app">App</a>
            </div>
          </div>
        </div>

        <!-- START WORK -->
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div th:each="work: ${works}" class="item col-sm-6 col-md-4 col-lg-4 mb-4" th:classappend="${#strings.toLowerCase(work.type)}">
            <a th:href="@{/work/{id}(id=${work.workId})}" class="item-wrap fancybox">
              <div class="work-info">
                <h3 th:text="${work.name}"></h3>
                <span th:text="${work.type}"></span>
              </div>
              <img class="img-fluid" th:src="${work.image}">
            </a>
          </div>
        </div>
        <!-- END WORK -->
      </div>
    </div>

    <!-- START REPLY -->
    <div class="site-section">
      <div class="container">

        <div class="owl-carousel testimonial-carousel">

          <div th:each="reply: ${replies}" class="testimonial-wrap">
            <div class="testimonial">
              <img th:src="${reply.member.image}" alt="Image" class="img-fluid">
              <blockquote>
                <p th:text="${reply.content}"></p>
              </blockquote>
              <p th:text="${reply.member.name}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END REPLY -->
  </main>

  </th:block>

</th:block>
